<a [routerLink]="['/restaurant', restaurant.id]" class="block no-underline transform transition-transform duration-300 hover:scale-105">
  <div class="bg-white rounded-2xl shadow-md overflow-hidden transition-shadow duration-300 hover:shadow-lg">
    <div class="relative">
      <img [src]="restaurant.imageUrl" alt="{{ restaurant.name }}" class="w-full h-48 object-cover hover:opacity-90 hover:scale-[0.9] hover:rounded-lg hover:transform" />
      <div
        class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black to-transparent text-white text-2xl font-bold p-2 text-center">
        {{ restaurant.offer }}
      </div>
    </div>

    <div class="p-4">
      <h3 class="text-lg font-semibold text-gray-800">{{ restaurant.name }}</h3>
      <p class="text-gray-600 font-bold flex items-center">
        <img src="star.png" alt="Rating star" class="w-4 h-4 mr-1" />
        {{ restaurant.rating }}
        <span class="mx-2">•</span>
        {{ restaurant.timing }}
      </p>
      <p class="text-gray-600">
        {{ restaurant.categories.slice(0, 2).join(', ') }}
      </p>
      <p class="text-gray-600">{{ restaurant.location }}</p>
    </div>
  </div>
</a>
