<div class="bg-white max-w-[600px] mx-auto p-4 rounded-lg shadow-lg mt-10 h-auto">
  
    <div class="flex items-center justify-between my-4">
      <h1 class="text-3xl font-bold">Sign In</h1>
      <img class="size-36" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/Image-login_btpq7r" alt="Sign Up Image">
    </div>
    <input [(ngModel)]="name" class="focus:outline-none border border-slate-500 p-3 rounded-lg w-full mb-4" placeholder="Name" type="text" />
  
    <input [(ngModel)]="email" class="focus:outline-none border border-slate-500 p-3 rounded-lg w-full mb-4" placeholder="Email" type="email" />
    
    <input [(ngModel)]="password" class="focus:outline-none border border-slate-500 p-3 rounded-lg w-full mb-6" placeholder="Password" type="password" />
    
    <button (click)="onSignIn()" class="bg-orange-600  text-white font-bold p-4 w-full text-2xl">Continue</button>
    
    <p class="text-center text-sm mt-4 text-gray-500">By creating an account, I accept the Terms & Conditions & Privacy Policy</p>
  </div>
  